html, body { height: 100%; margin: 0; padding: 0; }

#top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: red;
}

#main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

#neighborhood-list { 
  width: 30%; 
  height: 100%; 
  float: left; 
  background-color: white; 
  overflow-y: scroll; 
}

#map_canvas { 
  width: 70%; 
  height: 100%; 
  float: left; 
}

#neighborhood-list .selected-true { 
  background-color: blue; 
  color: white; 
}