.brand>img {
  margin-bottom: 5px;
  margin-right: 10px;
  opacity: 0.7;
}
.brand:hover>img {
  opacity: 1.0;
}
      
#main-container {
  width: 100%;

  position: absolute;
  top: 42px;
  bottom: 0;
  z-index: 1;
}


/** 
 * Neighborhood List 
 */
#neighborhood-list {
  height:100%;
  background-color: #17181b;
  position: relative;
  overflow-y: hidden;
}

#neighborhood-list .form-search {
  height: 54px;
  margin-bottom: 0;
  position: relative;
  background-color: #303745; /*#fede98;*/
}
#neighborhood-list .form-search .search-query {
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  z-index: 1;
}
#neighborhood-list .form-search .icon-search {
  position: absolute;
  top:18px;
  left:18px;
  z-index: 2;
  opacity: 0.7;
}

#neighborhood-list .form-search .icon-remove-sign {
  position: absolute;
  top:18px;
  right:18px;
  z-index: 2;
  opacity: 0.7;
}

div.neighborhood-list-wrapper {
  position: absolute;
  top: 54px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}      

li.neighborhood {
  color: #edeff2;
  padding: 12px 9px;
  background-color: #3f414b;
  margin-top: 1px; 
  border-top: 1px solid;
  border-top-color: #4f515d;
  cursor: pointer;
}

li.neighborhood:last-child {
  border-bottom: 1px solid #4f515d;
}

li.neighborhood:hover, 
li.neighborhood:active  {
  background-color: #17181b;
  border-color: #17181b;
}


/**
 * Map
 */
#map_canvas {
  height:100%;
  background-color:#ddd;
}

/* I'm not sure why bootstrap specifies a 20px side padding for widths under 
   767px but it causes awkwardness in this layout so I'm overriding it */
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
}
