<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Heritage Trees of Portland, Oregon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Learn about the heritage trees of Portland, Oregon.">
    <meta name="author" content="Tim Glaser - https://github.com/timglaser">

    <link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="libs/cartodb-gmaps/css/cartodb-gmapsv3.css" rel="stylesheet" type="text/css">
    <link href="css/app.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Top row. Nav bar. -->
      <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="#">
            <img src="img/tree-white.svg" width="26" height="26"/>
            Heritage Trees of Portland
          </a>
        </div>
      </div>
      <!-- Main row. Sidebar and map. -->
      <div id="main-container" class="row-fluid">
        <div id="sidebar" class="carousel slide span4">
          <div class="carousel-inner">
            <!-- Pane for the neighborhood list. -->
            <div id="neighborhood-list-pane" class="active item">
              <form class="form-search">
                <input type="text" class="search-query" placeholder="Search Neighborhoods">
                <i class="icon-search" alt="Search"></i>
                <i class="icon-remove-sign" alt="Clear Search"></i>
              </form>
              <div id="neighborhood-list" ng-controller="neighborhoodListCtrl">
                <ul class="unstyled">
                  <li ng-cloak ng-repeat="neighborhood in neighborhoods" 
                    ng-click="selectNeighborhood(neighborhood)" 
                    class="neighborhood selected-{{neighborhood.selected}}">
                      {{neighborhood.name}}
                  </li>
                </ul>
              </div>                          
            </div>
            <!-- Pane for neighborhood details. -->
            <div id="neighborhood-details-pane" class="item" ng-controller="neighborhoodDetailsCtrl">
              <button class="btn" onclick="$('#sidebar.carousel').carousel('prev');"><i class="icon-chevron-left"></i>Neiborhoods</button>
              <div class="well" style="margin:10px;">
                <table class="table">
                  <tr>
                    <td>Avg Height</td><td>{{avgHeight}} ft</td><td></td>
                  </tr>
                  <tr>
                    <td>Tallest</td><td>{{tallest}} ft</td><td><button class="btn-primary">Show</button></td>
                  </tr>
                </table>
              </div>
            </div>
          </div> <!-- /.carousel-inner -->
        </div> <!-- /#sidebar -->
        <!-- Map -->
        <div id="map_canvas">
        </div>
      </div> <!-- /#main-container -->
    </div>    
    <!-- libs -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="libs/wax/js/wax.g.js"></script>
    <script type="text/javascript" src="libs/cartodb-gmaps/js/cartodb-gmapsv3.js"></script>
    <!-- services -->
    <script type="text/javascript" src="js/services/CoreDbService.js"></script>
    <script type="text/javascript" src="js/services/NeighborhoodService.js"></script>
    <script type="text/javascript" src="js/services/MapService.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="js/controllers/NeighborhoodListCtrl.js?0.1"></script>
    <script type="text/javascript" src="js/controllers/NeighborhoodDetailsCtrl.js?0.1"></script>
    <!-- app -->
    <script type="text/javascript" src="js/app.js?0.1"></script>
    
  </body>
</html>